body {
  font-size: 62.5%;
  background-color: #c8decc;
}

.container {
  height: 800px;
  max-width: 600px;
  margin: 0 auto 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow: auto;
}
.col {
  min-height: 40px;
  display: flex;
  flex-direction: column;
  font-size: 1.2em;
  text-align: center;
  overflow: auto;
}
li {
  text-align: left;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.4em;
}
